#!/usr/bin/make -f

export RUSTUP = 0

%:
	dh $@

override_dh_auto_clean:
	make clean
	make version
	if ! ischroot; then \
		make vendor; \
	fi

override_dh_auto_build:
	tar pxf vendor.tar.xz
	make all

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
